<!DOCTYPE html>
<html>
<head>
<title>Logout</title>

<style>

body{
font-family:Arial;
text-align:center;
background:#f2f2f2;
}

.box{
margin-top:100px;
padding:20px;
background:white;
display:inline-block;
border-radius:10px;
}

button{
padding:10px 20px;
background:red;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:darkred;
}

</style>

</head>

<body>

<div class="box">

<h2>You are logged out</h2>

<a href="/login">
<button>Login Again</button>
</a>

</div>

</body>
</html>